<h2 class="mat-display-1">Frase del jugador {{i}}</h2>
<form class="container" [formGroup]="form" (submit)="onSubmit($event)">
    <mat-form-field>
      <textarea matInput placeholder="Frase" formControlName="frases" [(ngModel)]="poemas.frase"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" (click)="guardarPoema()">Agregar</button>
    <button mat-raised-button color="primary" type="submit" (click)="mostrarPoemas()">Resultado Final</button>
</form>

