<div [ngStyle]="{'text-align':'center'}">
  <h1 class="mat-display-1" ngClass="titulo">Cadáver Exquisito</h1>
  <h3>Esta es la versión online del juego "Cadáver Exquisito"<br>
    Los surrealistas lo inventaron para crear juntos arte y poesía desde el inconsciente y de forma espontánea.<br>
    Al igual que en esa época, cada jugador escribirá una frase que luego formará parte de una sola prosa,<br>
    siendo este resultado lo que lo convierte en un juego muy divertido...
  </h3>
  <button mat-raised-button color="warn" routerLink="/service">Empezar Juego</button>
</div>
